[tool.poetry]
name = "splight-cli"
version = "4.4.0"
description = "Splight Command Line Interface"
authors = ["Splight Dev <dev@splight-ae.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8.1,<4"
case-converter = "1.1.0"
click = "8.0.4"
click-default-group = "1.2.2"
setuptools = "60.9.3"
splight-lib = "4.3.0"
py7zr = "0.18.5"
typer = "0.7.0"
colorama = "0.4.4"
requests = "2.27.1"
PyYAML = "6.0.1"
rich = "13.0.1"
pathspec = "0.11.1"
packaging = "23.0"

[tool.poetry.group.dev.dependencies]
black = "23.3.0"
isort = "5.12.0"
ipdb = "^0.13.13"
ipython = "8.12.2"
flake8 = "^6.1.0"
pre-commit = "3.2.2"
pytest = "^7.4.3"

[tool.poetry.scripts]
splight = "splight_cli.cli:app"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 79
force-exclude = ".*/component/templates/.*py"

[tool.isort]
profile = "black"
line_length = 79

[tool.pytest.ini_options]
filterwarnings = [
    "error",
    "ignore::RuntimeWarning",
    "ignore::UserWarning",
    "ignore::pytest.PytestUnraisableExceptionWarning",
    "ignore::pytest.PytestUnhandledThreadExceptionWarning",
    "ignore::pytest.PytestAssertRewriteWarning",
]
